body {
  margin: 0;
  padding: 0;
}

a,
button {
  @include on-event(true) {
    outline: none;
    text-decoration: none;
    color: color("kings-black");
  }

  cursor: pointer;
}

img {
  @include size(100%, auto);

  object-fit: contain;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
