body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a,
button {
  @include kk-on-event(true) {
    outline: none;
    text-decoration: none;
    color: $primary-color;
  }

  cursor: pointer;
}

img {
  @include kk-size(100%, auto);

  object-fit: contain;
}

.kk-container {
  max-width: $max-width;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.kk-list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kk-social-icon {
  font-size: 22px;
  margin: 0 5px;
  color: $primary-color;
  transition: color 300ms ease-in-out;

  &.ic-instagram:hover {
    color: #e1306c;
  }

  &.ic-facebook:hover {
    color: #3b5998;
  }
}
