.kk-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $kk-ff-header;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  span,
  svg {
    position: relative;
    z-index: 1;
  }
}

.kk-btn--primary {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  background-color: transparent;
  color: $tertiary-color;
  border: 1px solid $tertiary-color;
  padding: 10px;
}

.kk-btn--arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $primary-color;
  color: $primary-color;
  padding: 5px;

  span {
    @include kk-size(0, auto);

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    opacity: 0;
    text-align: left;
    transition: width 0.3s ease-in-out, opacity 0.2s ease-in-out;
  }

  .kk-svg--ic-arrow {
    @include kk-size(15px);

    fill: $primary-color;
  }
}
