$theme-colors: (
  kk-black: #000,
  kk-white: #fff,
  kk-blue: #001e44,
  kk-gold: #ffe263,
);

$primary-color: map-get($theme-colors, kk-black);
$secondary-color: map-get($theme-colors, kk-gold);

/// Container's maximum width
/// @type Length
$max-width: 1280px !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
/// $base-url: 'http://cdn.example.com/assets/';
$base-url: "../" !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1620px
  ),
  $grid-breakpoints
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);
