// Colors
$kk-black: #000;
$kk-black-two: #242424;
$kk-white: #fff;
$kk-blue: #1d436f;
$kk-gold: #ffe263;
$kk-lightgrey: #e7ebec;
$kk-darkgrey: #8f9394;
$kk-facebook: #3c5a99;
$kk-instagram: #e1306c;

$primary-color: $kk-black;
$secondary-color: $kk-lightgrey;
$tertiary-color: $kk-blue;
$primary-font-color: $kk-black-two;

// Container's maximum width
// @type Length
$max-width: 1280px !default;
$max-width--small: 765px !default;

// Relative or absolute URL where all assets are served from
// @type String
// @example scss - When using a CDN
// $base-url: 'http://cdn.example.com/assets/';
$base-url: "../" !default;

//Font Family
$kk-ff-header: "Oswald", sans-serif;
$kk-ff-basic: "Lato", sans-serif;
$kk-ff-special: "Rajdhani", sans-serif;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1620px
  ),
  $grid-breakpoints
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);
