.kk-main--home {
  .kk-hero {
    @include kk-grid(2fr 1fr 1fr, repeat(2, 50%), 1px);
    @include kk-size(100%, calc(100vh - 76px));

    grid-template-areas: "p-1 p-2 p-2" "p-1 p-3 p-4";

    .kk-hero__item {
      @include kk-size(100%);

      position: relative;
      display: flex;
      overflow: hidden;
      grid-area: p-1;

      &::before {
        @include kk-pseudo();
        @include kk-size(100%);

        background-color: rgba($tertiary-color, 0.2);
        z-index: 2;
      }

      &:nth-of-type(2) {
        grid-area: p-2;
      }

      &:nth-of-type(3) {
        grid-area: p-3;
      }

      &:nth-of-type(4) {
        grid-area: p-4;
      }

      .kk-picture {
        transform: translate3d(0, 0, 0);
        transition: transform 0.5s ease-in-out;

        img {
          @include kk-size(100%);

          object-fit: cover;
        }
      }

      .kk-content {
        position: absolute;
        z-index: 3;
        bottom: 0;
        padding: 40px;

        &::before {
          @include kk-pseudo(block, relative);
          @include kk-size(50px, 3px);

          background-color: $kk-white;
          transition: width 0.2s ease-in-out 0.2s;
        }

        .kk-h2 {
          font-size: 25px;
          text-transform: uppercase;
          color: $kk-white;
          margin: 20px 0 0;
        }

        .kk-p {
          color: rgba($kk-white, 0.8);
          margin: 20px 0 0;
        }

        .kk-btn--arrow {
          width: 0;
          background-color: $kk-white;
          border-width: 0;
          padding: 5px 0;
          margin: 20px 0;
          transition: width 0.2s ease-in-out, padding 0.2s ease-in-out;
        }
      }

      &:hover {
        .kk-picture {
          transform: scale(1.1);
        }

        .kk-content {
          &::before {
            width: 0;
            transition: width 0.2s ease-in-out;
          }

          .kk-btn--arrow {
            width: 130px;
            padding: 5px 10px;
            transition: width 0.2s ease-in-out, padding 0.2s ease-in-out;

            span {
              width: 100px;
              opacity: 1;
              transition: width 0.3s ease-in-out 0.2s, opacity 0.2s ease-in-out 0.1s;
            }
          }
        }
      }
    }
  }

  .kk-section--match {
    position: relative;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;

    &::before {
      @include kk-pseudo();
      @include kk-size(100%);

      top: 0;
      left: 0;
      z-index: 0;
      background-color: rgba($secondary-color, 0.97);
    }

    .kk-match {
      @extend .kk-container;

      @include kk-grid(200px 1fr 200px, auto, 0 60px);

      position: relative;
      align-items: center;
      max-width: $max-width--small;
      z-index: 1;

      .kk-match__team {
        @include kk-grid(100%, 200px 1fr);

        grid-template-areas: "logo" "name";

        .kk-picture {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .kk-h2 {
          display: flex;
          justify-content: center;
          font-size: 25px;
          font-weight: 300;
        }
      }

      .kk-match__details {
        @include kk-grid(100%, 1fr 1fr 2fr 3fr 1fr);

        padding: 0;
        max-height: 400px;

        .kk-span {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .kk-date {
          align-items: flex-end;
          font-size: 22px;
          font-weight: 700;
          color: $kk-black-two;
          text-transform: uppercase;
        }

        .kk-time {
          align-items: flex-start;
          font-size: 18px;
          letter-spacing: 1px;
          font-weight: 400;
          color: $kk-black-two;
        }

        .kk-vs {
          position: relative;
          display: flex;
          align-items: center;

          .kk-p {
            font-size: 25px;
            font-weight: 400;
            padding: 0 10px 5px;
            margin: 0;
          }

          &::before,
          &::after {
            @include kk-pseudo(block, relative);
            @include kk-size(100%, 1px);

            left: 0;
            right: auto;
            background-color: $kk-black-two;
          }

          &::after {
            left: auto;
            right: 0;
          }
        }

        .kk-score {
          font-family: $kk-ff-header;
          font-size: 50px;
          font-weight: 300;
        }

        .kk-summary {
          @include kk-btn-effect-one($tertiary-color, $kk-white);

          display: flex;
          margin-top: 50px;
        }
      }
    }
  }

  .kk-section--sponsors {
    background-color: lighten($kk-lightgrey, 5%);

    .kk-container {
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .kk-section--news {
    @extend .kk-container;

    @include kk-grid(150px auto, 1fr);

    min-height: 570px;

    .kk-sidebar {
      position: relative;
      display: flex;

      .kk-sidebar--vertical {
        position: absolute;
        transform-origin: top right;
        transform: rotate(-90deg) translate(0, -100%);
        right: 30px;
        margin: 0;

        .kk-h2 {
          font-size: 40px;
          letter-spacing: 10px;
          text-transform: uppercase;
          color: $kk-darkgrey;
          margin: 0 0 15px;
        }

        .kk-btn {
          position: relative;
          display: inline-flex;
          z-index: 1;
          right: 80%;
          font-size: 14px;
          letter-spacing: 3px;
          color: $kk-white;
          background-color: $kk-darkgrey;
          border-color: $kk-darkgrey;
          padding: 10px 25px;
          margin: 0 0 -2px;
          transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

          &:hover {
            background-color: $kk-blue;
            border-color: $kk-blue;
          }
        }

        &::after {
          @include kk-pseudo();
          @include kk-size(180%, 2px);

          right: 0;
          background-color: $kk-darkgrey;
        }
      }
    }

    .kk-news {
      @include kk-grid(repeat(3, 1fr), max-content, 30px 10px);

      grid-auto-rows: 1fr;

      .kk-news__item {
        display: flex;
        flex-direction: column;

        .kk-picture-wrapper {
          @include kk-size(100%);

          max-height: 250px;
          overflow: hidden;
        }

        .kk-picture {
          display: flex;
          transform: translate3d(0, 0, 0);
          transition: transform 0.3s ease-in-out;

          > img {
            @include kk-size(100%);

            object-fit: cover;
          }
        }

        .kk-h3 {
          margin: 20px 0;
        }

        .kk-p {
          font-size: 15px;
          line-height: 1.2;
          color: $kk-black-two;
          margin: 0 0 10px;
        }

        .kk-btn--arrow {
          margin: auto 10px 0 auto;
        }

        &:hover {
          .kk-picture {
            transform: scale(1.1);
          }

          .kk-btn--arrow {
            color: $kk-white;

            span {
              width: 100px;
              opacity: 1;
              transition: width 0.3s ease-in-out, opacity 0.2s ease-in-out 0.1s;
            }
          }
        }
      }
    }
  }
}
