.kk-header {
  @include kk-size(100%, 80px);

  position: sticky;
  top: 0;
  z-index: 50;
  margin: 0;
  padding: 0;
  transition: height 0.3s ease-in-out;

  .kk-header__navbar {
    @include kk-size(100%);
    @include kk-grid(1fr 130px 1fr, 100%);

    align-items: center;
    grid-template-areas: "m-left logo m-right";
    background-color: $kk-white;

    .kk-header__content {
      @include kk-size(100%);

      display: none;
      align-items: center;
      grid-area: m-left;

      .kk-menu__nav {
        @extend .kk-list--unstyled;

        @include kk-size(auto, 100%);

        display: flex;
      }

      .menu-item {
        font-family: $kk-ff-basic;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        height: 100%;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          color: $primary-font-color;
          padding: 0 20px;

          &:hover {
            background-color: $secondary-color;
          }
        }
      }

      .kk-header__socials {
        display: flex;
        height: 100%;

        .kk-social-icon {
          display: inline-flex;
          align-items: center;
          padding: 0 27.5px;
          transition: padding 0.3s ease-in-out;

          &.kk-social-icon--facebook,
          &.kk-social-icon--instagram {
            color: $kk-white;
            fill: $kk-white;
          }

          &.kk-social-icon--facebook {
            background-color: $kk-facebook;

            &:hover {
              background-color: darken($kk-facebook, 10%);
            }
          }

          &.kk-social-icon--instagram {
            background-color: $kk-instagram;

            &:hover {
              background-color: darken($kk-instagram, 10%);
            }
          }

          .kk-ic--social {
            @include kk-size(20px);
          }
        }
      }

      &.kk-header__content--right {
        justify-content: flex-end;
        grid-area: m-right;
      }

      @include kk-bp-min(xl) {
        display: flex;
      }
    }

    .kk-header__brand {
      @include kk-size(100%, auto);

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: logo;
      z-index: 20;
      margin: 20px 0 -40px;

      > img {
        transition: width 0.3s ease-in-out;
      }
    }

    .kk-hader__hamburger-wrapper {
      display: flex;
      justify-content: flex-end;
      grid-area: m-right;

      .kk-header__hamburger {
        position: relative;
        z-index: 15;

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          transition-duration: 0.1s;
        }
      }

      @include kk-bp-min(xl) {
        display: none;
      }
    }
  }

  .kk-menu.kk-menu--fixed {
    @include kk-grid(40% 60%, 100%);
    @include kk-size(100%);

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: $kk-gold;
    transform: translateY(-100%);
    transition: transform 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);

    &.kk-slide-in {
      transform: translateY(0);
    }

    .kk-menu__nav {
      @extend .kk-list--unstyled;

      @include kk-size(100%, calc(100% - 150px));

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      grid-column-start: 2;
      text-align: center;
      max-width: $max-width;
      margin: 75px 50px;
    }

    .menu-item {
      display: block;
      margin: 15px 0;

      a {
        @include kk-fancy-underline(3px);

        position: relative;
        display: block;
        font-family: $kk-ff-basic;
        font-weight: 500;
        font-size: 60px;
        line-height: 1;
        letter-spacing: -2px;
        text-transform: none;
        color: $primary-color;
      }
    }
  }

  &.kk-header--sticky {
    height: 50px;

    .kk-header__navbar {
      .kk-header__brand > img {
        width: 100px;
      }

      .kk-header__socials .kk-social-icon {
        padding: 0 15px;
      }
    }
  }
}
