.kk-sidebar {
  .kk-sidebar__socials {
    position: fixed;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    transform-origin: top left;
    left: 25px;
    bottom: 20px;
  }

  .kk-sidebar__socials-link {
    font-family: "Lalezar", cursive;
    font-size: 20px;
    line-height: 1;
    text-transform: lowercase;
    margin: 0 20px;

    &:hover {
      opacity: 0.8;
    }
  }
}
